body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	font-size: 3rem;
	color: #a79f9f;
}

hr {
	border-color: #007bff;
	border-width: 2px;
	max-width: 65px;
}

.buffer {
	height: 8rem;
}

.btn {
	font-weight: 700;
	border-radius: 15px;
	text-transform: uppercase;

}



.btn-primary {
	background-color: #0469d659;
	}
.btn-primary:hover {
	
	border-width: 2px;
}

.btn-xl {
	padding: 0.5rem 1.5rem;
}